@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables */
:root {
  --primary-color: #4ecdc4;
  --primary-dark: #44a39d;
}

/* Base Styles */
body {
  font-family: "Poppins", sans-serif;
  @apply antialiased;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
